body{
    background-color: #3E4647;
    margin: 0;
    padding: 0;
}
.conteiner{
    width: 58%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
input[type="radio"]{
    display: none
}

.slider{
    background-color: #EEE;
    display: flex;
    width: 100%;
    height: 31vw;
    overflow: hidden;
    border-radius: 10px;
}
.slides{
    /*opacity: 0;*/
    /*transform: scale(1.5);
    transition: opacity 1s, transform 1s;*/
    /*  transform: translateX(1024px);
    transition-property: transform;
    transition-delay: 2s;*/
}

img{
    width: 100%;
   /* height: 100%;*/
 }

.controls{
    align-self: flex-end;
    margin-top: 1.5vw;
}
 .controls label{
    cursor: pointer;
    display: inline-block;
    margin: 0.8vw;
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 5vw;
    border: 2px solid rgb(134, 133, 133);
    transition: background-color 0.5s, border 0.5s;
}

label:hover,
#slide1:checked ~ .controls label:nth-child(1),
#slide2:checked ~ .controls label:nth-child(2),
#slide3:checked ~ .controls label:nth-child(3),
#slide4:checked ~ .controls label:nth-child(4){
    background-color:rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}